/* Navigation*/

* {
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
}

.title h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-bottom: 50px;
    color: white;
}

.title span {
   color: green; 
}

.list_menu a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    border-left: 2px solid green;
    padding-left: 5px;
    transition: all 0.1s ease;
}

.list_menu a:hover {
    border-left: 2px solid green;
    padding-left: 10px;
    transition: all 0.1s ease;
}

.list_menu {
    margin-bottom: 50px;
}

.list_menu li{
    margin: 25px 0;
}


.menu {
    padding: 15vh 50px;
    position: fixed;
    background: rgba(20, 20, 20, 0.5);
    height: 100vh;
    backdrop-filter: blur(16px);
    border-right: 7px solid white;
    left: -250px;
    transition: all 0.3s ease;
    z-index: 999999;
}

.menu:hover {
    left: 0;
    transition: all 0.3s ease;
}

.footer_menu p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}


#username {
    margin-left: 20px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
}

.userbar a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    padding-left: 5px;
    transition: all 0.1s ease;
    margin: 25px 0;
}

.userbar a:hover {
    color: green;
    transition: all 0.1s ease;
}