{% extends 'todoapp/layout.html' %}
{% load static %}

<head>
    {% block linklog %}
        <link rel="stylesheet" href="{% static 'useracc/css/main.css' %}">
    {% endblock linklog%}

    {% block title %}<title>Reset password</title>{% endblock title%}
</head>

{% block content %}
<div class="container">
    <h1>Password reset</h1>
    <form class="ui form" style="color: white;" action="{% url 'password_reset' %}" method="post">
        {{ form }}
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
{% endblock %}